<html ng-app="Angello">
<head>
  <link rel="stylesheet" href="styles/angello.css"></link>
  <script type="text/javascript" src="c:/dev/angular-1.3.0/angular.min.js"></script>
  <script type="text/javascript" src="scripts/angello.js"></script>
</head>
<body>
  <div ng-controller="MainCtrl">
    <!-- List all stories -->
    <div class="span4 sidebar-content">
	  <h2>Stories</h2>
	  <div class="story" ng-repeat="story in stories" ng-click="setCurrentStory(story)">
	    <h4>{{story.title}}</h4>
		<p>{{story.description}}</p>
		<p>{{story.criteria}}</p>
		<p>Type: {{story.type}}<br/>
		Status: {{story.status}}<br/>
		Reporter: {{story.reporter}}<br/>
		Assigned to: {{story.assignee}}
		</p>
	  </div>
	  <!-- Create new story -->
	  <br></br>
	  <a class="btn" ng-click="createStory()">
	    <i class="icon-plus">Create new Story</i>
	  </a>
	</div>
	<!-- Display selected Story -->
	<div class="span6 body-content">
	  <h2>Story</h2>
	  <form class="form-horizontal">
	    <div class="control-group">
		  <label class="control-label" for="inputTitle">Title</label>
		  <div class="controls">
		    <input type="text" placeholder="Title" ng-model="currentStory.title"></input>
		  </div>
		</div>
		<div class="control-group">
		  <label class="control-label" for="inputStatus">Status</label>
		  <div class="controls">
		    <select id="inputStatus" ng-model="currentStatus" ng-options="s.name for s in statuses" ng-change="setCurrentStatus(currentStatus)">
			</select>
		  </div>
		</div>
		<div class="control-group">
		  <label class="control-label" for="inputType">Type</label>
		  <div class="controls">
		    <select id="inputType" ng-model="currentType" ng-options="t.name for t in types" ng-change="setCurrentType(currentType)">
			</select>
		  </div>
		</div>
		<div class="control-group">
		  <label class="control-label" for="inputDescription">Description</label>
		  <div class="controls">
		    <textarea id="inputDescription" placeholder="Description" rows="3" ng-model="currentStory.description">
			</textarea>
		  </div>
		</div>
		<div class="control-group">
		  <label class="control-label" for="inputAcceptance">Acceptance Criteria</label>
		  <div class="controls">
		    <textarea id="inputAcceptance" placeholder="Acceptance Criteria" rows="3" ng-model="currentStory.criteria">
			</textarea>
		  </div>
		</div>
		<div class="control-group">
		  <label class="control-label" for="inputReporter">Reporter</label>
		  <div class="controls">
		    <input type="text" id="inputReporter" placeholder="Reporter" rows="3" ng-model="currentStory.reporter">
			</input>
		  </div>
		</div>
		<div class="control-group">
		  <label class="control-label" for="inputAssignee">Assignee</label>
		  <div class="controls">
		    <input type="text" id="inputAssignee" placeholder="Assignee" rows="3" ng-model="currentStory.assignee">
			</input>
		  </div>
		</div>
	  </form>
	</div>
  </div>
</body>
</html>