.story {
  background: silver;
  border: 1px solid black;
  width: 15em;
  margin: 0;
  padding: 0;
}

.story h4 {
  margin: 0;
  padding: 0;
}

.btn {
  border: 2px solid gray;
  padding: 5px 25px 5px 5px;
  background: silver;
}

.icon-plus {
  background: url('../images/icon-plus.png') no-repeat right;
  padding-right: 2em;
  background-size: 1em;
}
